<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>邮件详情</title>
    <link rel="stylesheet" href="../../css/staff/email.css">
</head>
<body>
    <section id = 'main'>
        <emaildiv :email='email' :flag='flag'></emaildiv>
        <button @click='back'>返回</button>
    </section>
</body>
<script src="../../resources/jquery-3.5.1.js"></script>
<script src="../../resources/vue.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="../../js/staff/email.js"></script>
</html>