<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>邮件</title>
    <link rel="stylesheet" href="../../css/staff/backstage.css">
</head>
<body>
    <section id="main">
        <header>
            <span @click="accept" class="on" id="a">收件箱</span>
            <span @click="send" id="s">发件箱</span>
        </header>
        <input v-model='search' type="search" id="search" placeholder="请输入人名">
        <table>
            <thead>
                <tr>
                    <th> </th>
                    <th>标题</th>
                    <th>发送的人</th>
                    <th>状态</th>
                    <th>时间</th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="(val,index) in emailPage" :index="index" :val = 'val' :fun = "checked" :fun2 = "look" is="trtd"></tr>
                <!-- <trtd v-for="val in email" :val = 'val' :fun = "checked"></trtd> -->
            </tbody>
        </table>
        <div id="page">
            <span id="pre" @click='prePage'>上一页</span>
            <div id="pagenum">
                <span @click='pageChange(val)' v-for='val in PageAll'>{{val}}</span>
            </div>
            <span>共{{this.PageAll.length}}页</span>
            <span id="next" @click='nextPage'>下一页</span>
        </div>
        <footer>
            <button @click="allChecked">全选</button>
            <button @click="backChecked">反选</button>
            <button @click="noallChecked">清空选择</button>
            <button @click="del">删除</button>
            <button @click="sendEmail">发邮件</button>
        </footer>
    </section>
    <footer id="footer">
        <div>
            <img src="../../img/邮件on.png" alt="">
            <span class="on">邮件</span>
        </div>
        <div @click='officeSupplies'>
            <img src="../../img/公告off.png" alt="">
            <span>公告</span>
        </div>
        <div @click='meeting'>
            <img src="../../img/便签off.png" alt="">
            <span>便签</span>
        </div>
        <div>
            <img src="../../img/人员off.png" alt="">
            <span>我的</span>
        </div>
    </footer>
</body>
<script src="../../resources/jquery-3.5.1.js"></script>
<script src="../../resources/vue.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="../../js/staff/backstage.js"></script>
</html>