/* 通用 */
*{
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
}
body{
    background: #f4f4f4;
}

/* 头部 */
#header{
    width: 100vw;
    height: 6vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
    background-color: skyblue;
}
#header input{
    width: 70vw;
    height: 4vh;
}
#header img{
    width: 7vw;
    /* animation: r45 0.5s linear forwards; */
}
#header .operation{
    width: 20vw;
    height: 0vh;
    position:absolute;
    right: 0;
    top: 6vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    overflow: hidden;
    border-radius: 2vw;
    background-color: skyblue;
    color: white;
}


/* 中部 */
#main{
    width: 100vw;
    height: 86vh;
    /* display: flex;
    flex-direction: column;
    align-items: center; */
    overflow-y: auto;
}
#main div{
    width: 88vw;
    height: 25vh;
    margin: 2vh auto 0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    background-color: white;
    border-radius: 1.5vw;
    box-shadow: 0 1vw 1vw 1vw rgba(0, 0, 0, .2);
}
#main div p{
    margin: 0 0 0 2vw;
}
#main div p span{
    font-weight: bold;
}

/* 尾部 */
#footer{
    width: 100vw;
    height: 14vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: white;
}
#footer div{
    height: 8vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
#footer .on{
    color: #1296db;
}
#footer img{
    height: 8vw;
}

/* 动画 */
@keyframes r45{
    0%{
        transform: rotateZ(0deg);
    }
    100%{
        transform: rotateZ(45deg);
    }
}
@keyframes r0{
    0%{
        transform: rotateZ(45deg);
    }
    100%{
        transform: rotateZ(0deg);
    }
}

@keyframes out{
    0%{
        height: 0;
    }
    100%{
        height: 7vh;
    }
}

@keyframes in{
    0%{
        height: 7vh;
    }
    100%{
        height: 0;
    }
}