/* 通用 */
*{
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
}
body{
    background: #f4f4f4;
}




/* 中部 */
#main{
    width: 100vw;
    height: 86vh;
    /* display: flex;
    flex-direction: column;
    align-items: center; */
    overflow-y: auto;
}
#main header{
    width: 95vw;
    height: 6vh;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
#main header>span{
    width: 45%;
    height: 5.5vh;
    text-align: center;
    line-height: 5.5vh;
    display: block;
    border-radius: 3vw 3vw 0 0;
}
#main header .on{
    background-color: white;
}
/* 数据 */
#search{
    width: 90vw;
    height: 4vh;
    margin: 2vh 5vw 0;
}
#main table{
    width: 95%;
    margin: 2vh 0 0;
}
#main table th{
    background-color: rgb(181, 181, 181);
}
#main table th:first-of-type{
    background-color: #f4f4f4;
}
#main table tbody tr{
    height: 4vh;
}
#main table td{
    line-height: 4vh;
    text-align: center;
}
/* 页码 */
#page{
    width: 100vw;
    height: 3vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
#pagenum{
    width: 40vw;
    overflow: auto;
}
#pagenum span{
    margin: 0 4vw;
}
#pagenum .on{
    font-size: 1.3em;
    font-weight: bold;
    color: skyblue;
}
/* 按钮 */
#main footer{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
#main footer button{
    width: 18%;
    height: 4vh;
    margin: 2vh 0 0;
    background-color: rgb(181, 181, 181);
    border-radius: 30%;
    color: white;
}

/* 尾部 */
#footer{
    width: 100vw;
    height: 14vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: white;
}
#footer div{
    height: 8vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
#footer .on{
    color: #1296db;
}
#footer img{
    height: 8vw;
}

/* 动画 */
@keyframes r45{
    0%{
        transform: rotateZ(0deg);
    }
    100%{
        transform: rotateZ(45deg);
    }
}
@keyframes r0{
    0%{
        transform: rotateZ(45deg);
    }
    100%{
        transform: rotateZ(0deg);
    }
}

@keyframes out{
    0%{
        height: 0;
    }
    100%{
        height: 7vh;
    }
}

@keyframes in{
    0%{
        height: 7vh;
    }
    100%{
        height: 0;
    }
}