/* 通用 */
*{
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
}
body{
    background: #f4f4f4;
}




/* 中部 */
#main{
    width: 100vw;
    height: 86vh;
    display: flex;
    flex-direction: column;
    /* justify-content: space-around; */
    align-items: center;
    overflow-y: auto;
}
#search{
    width: 100vw;
    height: 6vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: skyblue;
}
input[type=search]{
    width: 80vw;
    height: 4vh;
    border-radius: 2vw;
}
#main div{
    width: 88vw;
    height: 25vh;
    margin: 2vh 0;
    display: flex;
    flex-direction: column;
    /* justify-content: space-around; */
    align-items: center;
    overflow-y: auto;
    background-color: white;
    border-radius: 1.5vw;
    box-shadow: 0 1vw 1vw 1vw rgba(0, 0, 0, .2);
}
#main div p{
    width: 70%;
    margin: 2vh 0 0;
}
#main div h1{
    margin: 2vh 0 0;
}

/* 尾部 */
#footer{
    width: 100vw;
    height: 14vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: white;
}
#footer div{
    height: 8vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
#footer .on{
    color: #1296db;
}
#footer img{
    height: 8vw;
}